<h2><%= session[session[:current_dog]][:dog_name] %>'s profile</h2>

<div>
  <% session[session[:current_dog]].each do |key, value| %>
    <% formatted_title = key.to_s.split("_").join(" ").capitalize %>
    <p><%= "#{formatted_title}: #{value}" %></p>
  <% end %>
</div>

<form action="/remove_dog" method="post">
  <input type="submit" value="Remove Dog">
</form>