<h4>Please sign in using the name of your shelter.</h4>

<form action="/sign_in" method="post">
  <input type="text" name="shelter_name">
  <input type="submit" value="Sign in" class="btn btn-primary">
</form>